* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
.profile-wrapper {
  min-height: 100vh;
  background: #6b5f5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OUTER CONTAINER */
.profile-outer {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  gap: 30px;
}

/* COMMON CARD */
.profile-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
}

/* LEFT CARD */
.left-card {
  width: 240px;
}

.user-info {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.menu {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.menu-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.menu-item:hover {
  background: #f4f4f4;
}

.menu-item.active {
  background: #ece9ff;
  font-weight: 600;
}

/* RIGHT CARD */
.right-card {
  width: 380px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
}

.close {
  cursor: pointer;
  font-size: 18px;
}

/* DETAILS */
.details {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.value {
  color: #555;
}

.value.add {
  color: #ff3f8f;
  cursor: pointer;
}

/* BUTTON */
.save-btn {
  margin-top: 25px;
  background: #3b6cff;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: inline;
}


.edit-btn {
  margin-top: 25px;
  background: #3b6cff;
  color: white;
  border: none;
  padding: 12px 22px;
  margin-left: 130px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: inline;
}
.save-btn:hover {
  background: #2f57d8;
}
