* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signup-container {
  min-height: 100vh;
  background: #333131;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN CARD */
.signup-card {
  width: 900px;
  height: 550px;
  display: flex;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 10px;
}

/* LEFT PANEL */
.signup-left {
  width: 45%;
  position: relative;
  background: #4f7476; /* teal background */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* SEMICIRCLE BEHIND CAR */
.semicircle {
  position: absolute;
  width: 450px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  left: -180px;
  top: 50px;
  z-index: 1;
}

/* CAR IMAGE */
.car-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  opacity: 0.85;
}

/* TEXT OVER CAR */
.left-text {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: white;
  font-size: 36px;
  font-weight: 900;
  z-index: 3;
}

/* RIGHT PANEL */
.signup-right {
  width: 55%;
  background: #6b5f5c;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.signup-right h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-right input {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  outline: none;
}

/* BUTTONS */
.signup-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #1a1a1a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.signup-btn:hover {
  background: #000;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.divider p {
  font-size: 12px;
  color: white;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.login-text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.login-text a:hover {
  text-decoration: underline;
}
